<div class="Container">
    <div class="Description">
        <h1>The DevOps Platform has arrived.</h1>
        <h3>Deliver software faster with better security and collaboration in a single platform.</h3>
    </div>
    <div class="RightContainer">
        <img class="Logo" [src]="logoUrl" alt="GitLabLogo">
        <div class="ContainerButtons">
            <a href="https://about.gitlab.com/sales/" class="btn btn-dark">Talk to an Expert</a>
            <a href="https://about.gitlab.com/demo/" class="btn btn-light">Watch a Demo</a>
        </div>
    </div>
</div>

<h1>GitLab is The DevOps Platform.</h1>
<h4>
    Our users have spoken. GitLab ranks as a G2 Leader across DevOps categories.
</h4>

<div class="ContainerButtons">
    <img [src]="blueLogo" alt="gitlab blue logo">
    <h3>
        What’s stopping you from transforming your software development process?
    </h3>

    <p>
        We’re here to help. Talk to an expert today.
    </p>

    <div class="Buttons">
        <a href="https://gitlab.com/-/trial_registrations/new?glm_source=about.gitlab.com&glm_content=default-saas-trial" class="btn btn-dark">Try GitLab for FREE</a>
        <a href="https://about.gitlab.com/sales/" class="btn btn-light">Ask us anything</a>
    </div>

</div>

<div class="Card">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
        <path
            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
    </svg>

    <h1>We take compliance seriously</h1>
</div>

<h4>If you want to know more about GitLab</h4>
<div class="d-flex justify-content-center">
    <a href="https://about.gitlab.com/" class="btn btn-light m-2">Visit GitLab</a>
</div>
    